<h1>Create a review</h1>


<form action="/reviews" method="POST">
  <p>
    <label name="restaurant[name]">Restaurant</label>
    <input name="restaurant[name]" type="text"/>
  </p>
   <p>
    <label name="city[name]">City</label>
    <input name="city[name]" type="text"/>
  </p>
   <p>
    <label name="city[state]">State</label>
    <input name="city[state]" type="text"/>
  </p>

  <p>
    <label name="review[rating]">Rating</label>
    <input name="review[rating]" type="text"/>
  </p>
  <p>
    <label name="review[content]">Review</label>
    <input name="review[content]" type="text"/>
  </p>

  <p>
    <input type="submit"/>
  </p>
</form>
